coverage/
dist/
doc/
/jsonata.js
/jsonata.min.js
/jsonata-es5.js
/jsonata-es5.min.js
/json-executor.js
/json-executor.min.js
/json-executor-es5.js
/json-executor-es5.min.js
/node-executor.js
/json-worker.js
/execution-options.js
/BUILD.json
node_modules/
npm-debug.log
.idea/
.nyc_output
